<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnk.card.dao.CardDao">
	<select id="selectAll" resultType="CardDto">
		SELECT * FROM CARD ORDER BY CARD_NO
	</select>

	<select id="selectById" resultType="CardDto">
		SELECT * FROM CARD WHERE CARD_NO = #{cardNo}
	</select>

	<update id="updateViewCount">
		UPDATE CARD SET VIEW_COUNT = VIEW_COUNT + 1
		WHERE CARD_NO = #{cardNo}
	</update>
</mapper>

