<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busanbank.card.card.dao.CardDao">
	<select id="selectAll"
		resultType="com.busanbank.card.card.dto.CardDto">
		SELECT CARD_NO AS cardNo,
		CARD_NAME AS cardName,
		CARD_URL AS cardUrl,
		CARD_SLOGAN AS cardSlogan,
		CARD_TYPE AS cardType,
		CARD_BRAND AS cardBrand,
		VIEW_COUNT AS viewCount,
		ANNUAL_FEE AS annualFee
		FROM CARD
		ORDER BY CARD_NO
	</select>

	<select id="selectById"
		resultType="com.busanbank.card.card.dto.CardDto">
		SELECT * FROM CARD WHERE CARD_NO = #{cardNo}
	</select>

	<update id="updateViewCount">
		UPDATE CARD SET VIEW_COUNT = VIEW_COUNT + 1
		WHERE
		CARD_NO = #{cardNo}
	</update>
</mapper>

